:root { --left-wall-color: #80a7e8; --right-wall-color: #9cbaf8; --floor-base-color: #e9b58e; }

/**/
*, *::after, *::before { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-tap-highlight-color: transparent; }

/***********************/
/***********************/
/************************/
/* Mixin para crear cubo ( Caras siempre al frente ) */
/************************/
html, body { width: 100vw; height: 100vh; overflow: hidden; background-image: green; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

div#box1 { position: absolute; width: 500px; height: 400px; -webkit-transform: rotateX(60deg) rotateZ(45deg) translateZ(-70px); transform: rotateX(60deg) rotateZ(45deg) translateZ(-70px); }

.absolute { position: absolute; }

.shadow { -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2); }

.long-board { width: 139px; height: 38px; -webkit-transform: translateZ(10px); transform: translateZ(10px); }

.long-board__front { width: 139px; height: 5px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(33px); transform: rotateX(-90deg) translateZ(33px); }

.long-board__back { width: 139px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-139px) translateY(-5px); transform: rotateX(-90deg) rotateY(180deg) translateX(-139px) translateY(-5px); }

.long-board__right { width: 38px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(139px) translateX(-38px) translateY(-5px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(139px) translateX(-38px) translateY(-5px); }

.long-board__left { width: 38px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-5px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-5px); }

.long-board__top { width: 139px; height: 38px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(5px); transform: translateZ(5px); }

.long-board__bottom { width: 139px; height: 38px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-139px); transform: rotateY(180deg) translateX(-139px); }

.long-board__front { background-color: #daaa78; }

.long-board__right { background-color: #daaa78; }

.long-board__top { background-color: #f9cc95; border: 1px solid #f9cc95; }

.short-board { width: 69px; height: 38px; -webkit-transform: translateZ(10px); transform: translateZ(10px); }

.short-board__front { width: 69px; height: 5px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(33px); transform: rotateX(-90deg) translateZ(33px); }

.short-board__back { width: 69px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-69px) translateY(-5px); transform: rotateX(-90deg) rotateY(180deg) translateX(-69px) translateY(-5px); }

.short-board__right { width: 38px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(69px) translateX(-38px) translateY(-5px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(69px) translateX(-38px) translateY(-5px); }

.short-board__left { width: 38px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-5px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-5px); }

.short-board__top { width: 69px; height: 38px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(5px); transform: translateZ(5px); }

.short-board__bottom { width: 69px; height: 38px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-69px); transform: rotateY(180deg) translateX(-69px); }

.short-board__front { background-color: #daaa78; }

.short-board__right { background-color: #daaa78; }

.short-board__top { background-color: #f9cc95; border: 1px solid #f9cc95; }

.board:nth-of-type(1) { -webkit-transition-delay: 0.15s; transition-delay: 0.15s; }

.board:nth-of-type(2) { -webkit-transition-delay: 0.3s; transition-delay: 0.3s; }

.board:nth-of-type(3) { -webkit-transition-delay: 0.45s; transition-delay: 0.45s; }

.board:nth-of-type(4) { -webkit-transition-delay: 0.6s; transition-delay: 0.6s; }

.board:nth-of-type(5) { -webkit-transition-delay: 0.75s; transition-delay: 0.75s; }

.board:nth-of-type(6) { -webkit-transition-delay: 0.9s; transition-delay: 0.9s; }

.board:nth-of-type(7) { -webkit-transition-delay: 1.05s; transition-delay: 1.05s; }

.board:nth-of-type(8) { -webkit-transition-delay: 1.2s; transition-delay: 1.2s; }

.board:nth-of-type(9) { -webkit-transition-delay: 1.35s; transition-delay: 1.35s; }

.board:nth-of-type(10) { -webkit-transition-delay: 1.5s; transition-delay: 1.5s; }

.board:nth-of-type(11) { -webkit-transition-delay: 1.65s; transition-delay: 1.65s; }

.board:nth-of-type(12) { -webkit-transition-delay: 1.8s; transition-delay: 1.8s; }

.board:nth-of-type(13) { -webkit-transition-delay: 1.95s; transition-delay: 1.95s; }

.board:nth-of-type(14) { -webkit-transition-delay: 2.1s; transition-delay: 2.1s; }

.board:nth-of-type(15) { -webkit-transition-delay: 2.25s; transition-delay: 2.25s; }

.board:nth-of-type(16) { -webkit-transition-delay: 2.4s; transition-delay: 2.4s; }

.board:nth-of-type(17) { -webkit-transition-delay: 2.55s; transition-delay: 2.55s; }

.board:nth-of-type(18) { -webkit-transition-delay: 2.7s; transition-delay: 2.7s; }

.board:nth-of-type(19) { -webkit-transition-delay: 2.85s; transition-delay: 2.85s; }

.board:nth-of-type(20) { -webkit-transition-delay: 3s; transition-delay: 3s; }

.board:nth-of-type(21) { -webkit-transition-delay: 3.15s; transition-delay: 3.15s; }

.board:nth-of-type(22) { -webkit-transition-delay: 3.3s; transition-delay: 3.3s; }

.board:nth-of-type(23) { -webkit-transition-delay: 3.45s; transition-delay: 3.45s; }

.board:nth-of-type(24) { -webkit-transition-delay: 3.6s; transition-delay: 3.6s; }

.board:nth-of-type(25) { -webkit-transition-delay: 3.75s; transition-delay: 3.75s; }

.board:nth-of-type(26) { -webkit-transition-delay: 3.9s; transition-delay: 3.9s; }

.board:nth-of-type(27) { -webkit-transition-delay: 4.05s; transition-delay: 4.05s; }

.board:nth-of-type(28) { -webkit-transition-delay: 4.2s; transition-delay: 4.2s; }

.board:nth-of-type(29) { -webkit-transition-delay: 4.35s; transition-delay: 4.35s; }

.board:nth-of-type(30) { -webkit-transition-delay: 4.5s; transition-delay: 4.5s; }

.long-board:nth-of-type(1) { top: 20px; left: 20px; }

.short-board:nth-of-type(2) { top: 60px; left: 20px; }

.long-board:nth-of-type(3) { top: 100px; left: 20px; }

.short-board:nth-of-type(4) { top: 140px; left: 20px; }

.long-board:nth-of-type(5) { top: 180px; left: 20px; }

.short-board:nth-of-type(6) { top: 220px; left: 20px; }

.long-board:nth-of-type(7) { top: 260px; left: 20px; }

.short-board:nth-of-type(8) { top: 300px; left: 20px; }

.long-board:nth-of-type(9) { top: 340px; left: 20px; }

.short-board:nth-of-type(10) { top: 380px; left: 20px; }

.long-board:nth-of-type(11) { top: 20px; left: 161px; }

.long-board:nth-of-type(12) { top: 60px; left: 91px; }

.long-board:nth-of-type(13) { top: 100px; left: 161px; }

.long-board:nth-of-type(14) { top: 140px; left: 91px; }

.long-board:nth-of-type(15) { top: 180px; left: 161px; }

.long-board:nth-of-type(16) { top: 220px; left: 91px; }

.long-board:nth-of-type(17) { top: 260px; left: 161px; }

.long-board:nth-of-type(18) { top: 300px; left: 91px; }

.long-board:nth-of-type(19) { top: 340px; left: 161px; }

.long-board:nth-of-type(20) { top: 380px; left: 91px; }

.long-board:nth-of-type(21) { top: 20px; left: 302px; }

.long-board:nth-of-type(22) { top: 60px; left: 232px; }

.long-board:nth-of-type(23) { top: 100px; left: 302px; }

.long-board:nth-of-type(24) { top: 140px; left: 232px; }

.long-board:nth-of-type(25) { top: 180px; left: 302px; }

.long-board:nth-of-type(26) { top: 220px; left: 232px; }

.long-board:nth-of-type(27) { top: 260px; left: 302px; }

.long-board:nth-of-type(28) { top: 300px; left: 232px; }

.long-board:nth-of-type(29) { top: 340px; left: 302px; }

.long-board:nth-of-type(30) { top: 380px; left: 232px; }

.floor { position: absolute; left: 0; top: 0; width: 500px; height: 400px; }

.floor__front { width: 500px; height: 10px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(408px); transform: rotateX(-90deg) translateZ(408px); }

.floor__back { width: 500px; height: 10px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-500px) translateY(-10px); transform: rotateX(-90deg) rotateY(180deg) translateX(-500px) translateY(-10px); }

.floor__right { width: 418px; height: 10px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(500px) translateX(-418px) translateY(-10px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(500px) translateX(-418px) translateY(-10px); }

.floor__left { width: 418px; height: 10px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-10px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-10px); }

.floor__top { width: 500px; height: 418px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(10px); transform: translateZ(10px); }

.floor__bottom { width: 500px; height: 418px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-500px); transform: rotateY(180deg) translateX(-500px); }

.floor__front { background-color: #bf8e6b; }

.floor__back, .floor__right, .floor__left { background-color: #d0a182; }

.floor__bottom, .floor__top { background-color: #e9b58e; }

.left-wall { position: absolute; left: 0; top: 0; width: 10px; height: 400px; -webkit-transform: translateZ(10px); transform: translateZ(10px); }

.left-wall__front { width: 10px; height: 300px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(118px); transform: rotateX(-90deg) translateZ(118px); }

.left-wall__back { width: 10px; height: 300px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-10px) translateY(-300px); transform: rotateX(-90deg) rotateY(180deg) translateX(-10px) translateY(-300px); }

.left-wall__right { width: 418px; height: 300px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(10px) translateX(-418px) translateY(-300px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(10px) translateX(-418px) translateY(-300px); }

.left-wall__left { width: 418px; height: 300px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-300px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-300px); }

.left-wall__top { width: 10px; height: 418px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(300px); transform: translateZ(300px); }

.left-wall__bottom { width: 10px; height: 418px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-10px); transform: rotateY(180deg) translateX(-10px); }

.left-wall__front { background-color: #d2bdc4; }

.left-wall__right, .left-wall__left { background-color: #80a7e8; }

.left-wall__back, .left-wall__top { background-color: #f5e8e8; }

.left-wall__baseboard { position: absolute; left: 10px; top: 0px; width: 10px; height: 400px; }

.left-wall__baseboard__front { width: 10px; height: 5px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(413px); transform: rotateX(-90deg) translateZ(413px); }

.left-wall__baseboard__back { width: 10px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-10px) translateY(-5px); transform: rotateX(-90deg) rotateY(180deg) translateX(-10px) translateY(-5px); }

.left-wall__baseboard__right { width: 418px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(10px) translateX(-418px) translateY(-5px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(10px) translateX(-418px) translateY(-5px); }

.left-wall__baseboard__left { width: 418px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-5px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-5px); }

.left-wall__baseboard__top { width: 10px; height: 418px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(5px); transform: translateZ(5px); }

.left-wall__baseboard__bottom { width: 10px; height: 418px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-10px); transform: rotateY(180deg) translateX(-10px); }

.left-wall__baseboard__front, .left-wall__baseboard__right { background-color: #eaeaea; }

.left-wall__baseboard__back, .left-wall__baseboard__top { background-color: white; }

.right-wall { position: absolute; left: 245px; top: -245px; width: 10px; height: 500px; -webkit-transform: rotateZ(90deg) translateZ(10px); transform: rotateZ(90deg) translateZ(10px); }

.right-wall__front { width: 10px; height: 300px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(200px); transform: rotateX(-90deg) translateZ(200px); }

.right-wall__back { width: 10px; height: 300px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-10px) translateY(-300px); transform: rotateX(-90deg) rotateY(180deg) translateX(-10px) translateY(-300px); }

.right-wall__right { width: 500px; height: 300px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(10px) translateX(-500px) translateY(-300px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(10px) translateX(-500px) translateY(-300px); }

.right-wall__left { width: 500px; height: 300px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-300px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-300px); }

.right-wall__top { width: 10px; height: 500px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(300px); transform: translateZ(300px); }

.right-wall__bottom { width: 10px; height: 500px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-10px); transform: rotateY(180deg) translateX(-10px); }

.right-wall__front, .right-wall__back { background-color: #d2bdc4; }

.right-wall__right { background-color: #9cbaf8; }

.right-wall__left { background-color: #80a7e8; }

.right-wall__top { background-color: #f5e8e8; }

.right-wall__baseboard { position: absolute; left: 10px; top: 0px; width: 10px; height: 500px; }

.right-wall__baseboard__front { width: 10px; height: 5px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(495px); transform: rotateX(-90deg) translateZ(495px); }

.right-wall__baseboard__back { width: 10px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-10px) translateY(-5px); transform: rotateX(-90deg) rotateY(180deg) translateX(-10px) translateY(-5px); }

.right-wall__baseboard__right { width: 500px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(10px) translateX(-500px) translateY(-5px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(10px) translateX(-500px) translateY(-5px); }

.right-wall__baseboard__left { width: 500px; height: 5px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-5px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-5px); }

.right-wall__baseboard__top { width: 10px; height: 500px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(5px); transform: translateZ(5px); }

.right-wall__baseboard__bottom { width: 10px; height: 500px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-10px); transform: rotateY(180deg) translateX(-10px); }

.right-wall__baseboard__back, .right-wall__baseboard__right { background-color: #eaeaea; }

.right-wall__baseboard__top { background-color: white; }

.right-wall .socket { left: 10px; width: 15px; height: 40px; -webkit-transform: translateZ(40px); transform: translateZ(40px); }

.right-wall .socket__front { width: 3px; height: 15px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(15px); transform: rotateX(-90deg) translateZ(15px); }

.right-wall .socket__back { width: 3px; height: 15px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-3px) translateY(-15px); transform: rotateX(-90deg) rotateY(180deg) translateX(-3px) translateY(-15px); }

.right-wall .socket__right { width: 30px; height: 15px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(3px) translateX(-30px) translateY(-15px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(3px) translateX(-30px) translateY(-15px); }

.right-wall .socket__left { width: 30px; height: 15px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-15px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-15px); }

.right-wall .socket__top { width: 3px; height: 30px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(15px); transform: translateZ(15px); }

.right-wall .socket__bottom { width: 3px; height: 30px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-3px); transform: rotateY(180deg) translateX(-3px); }

.right-wall .socket__front, .right-wall .socket__back { background-color: #d6c8ce; }

.right-wall .socket__right, .right-wall .socket__left { background-color: #e4d9de; }

.right-wall .socket__top { background-color: #f2e6ec; }

.right-wall .socket:before, .right-wall .socket:after { content: ""; position: absolute; width: 3px; height: 7px; background-color: #999; }

.right-wall .socket:before { -webkit-transform: rotateZ(90deg) rotateX(90deg) translateY(8px); transform: rotateZ(90deg) rotateX(90deg) translateY(8px); left: 2px; top: 14px; }

.right-wall .socket:after { -webkit-transform: rotateZ(90deg) rotateX(90deg) translateY(8px); transform: rotateZ(90deg) rotateX(90deg) translateY(8px); left: 2px; top: 8px; }

.right-wall .socket.socket1 { top: 150px; }

.right-wall .socket.socket2 { top: 100px; }

.right-wall .heater { left: 10px; -webkit-transform: translateZ(20px) translateY(415px); transform: translateZ(20px) translateY(415px); }

.right-wall .heater .resistance { top: 0px; }

.right-wall .heater .resistance__front { width: 12px; height: 70px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(-62px); transform: rotateX(-90deg) translateZ(-62px); }

.right-wall .heater .resistance__back { width: 12px; height: 70px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-12px) translateY(-70px); transform: rotateX(-90deg) rotateY(180deg) translateX(-12px) translateY(-70px); }

.right-wall .heater .resistance__right { width: 8px; height: 70px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(12px) translateX(-8px) translateY(-70px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(12px) translateX(-8px) translateY(-70px); }

.right-wall .heater .resistance__left { width: 8px; height: 70px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-70px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-70px); }

.right-wall .heater .resistance__top { width: 12px; height: 8px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(70px); transform: translateZ(70px); }

.right-wall .heater .resistance__bottom { width: 12px; height: 8px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-12px); transform: rotateY(180deg) translateX(-12px); }

.right-wall .heater .resistance__front, .right-wall .heater .resistance__back { background-color: #cfbec8; }

.right-wall .heater .resistance__right, .right-wall .heater .resistance__left { background-color: #e7d6de; }

.right-wall .heater .resistance__top { background-color: #f4e5ec; }

.right-wall .heater .resistance:nth-child(1) { top: -12px; }

.right-wall .heater .resistance:nth-child(2) { top: -24px; }

.right-wall .heater .resistance:nth-child(3) { top: -36px; }

.right-wall .heater .resistance:nth-child(4) { top: -48px; }

.right-wall .heater .resistance:nth-child(5) { top: -60px; }

.tvBox { top: 200px; left: 25px; -webkit-transform: translateZ(15px); transform: translateZ(15px); }

.tvBox__front { width: 22px; height: 110px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(50px); transform: rotateX(-90deg) translateZ(50px); }

.tvBox__back { width: 22px; height: 110px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-22px) translateY(-110px); transform: rotateX(-90deg) rotateY(180deg) translateX(-22px) translateY(-110px); }

.tvBox__right { width: 160px; height: 110px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(22px) translateX(-160px) translateY(-110px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(22px) translateX(-160px) translateY(-110px); }

.tvBox__left { width: 160px; height: 110px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-110px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-110px); }

.tvBox__top { width: 22px; height: 160px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(110px); transform: translateZ(110px); }

.tvBox__bottom { width: 22px; height: 160px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-22px); transform: rotateY(180deg) translateX(-22px); }

.tvBox__front, .tvBox__back { background-color: #c69052; }

.tvBox__left, .tvBox__right { background-color: #d9a16e; }

.tvBox__top { background-color: #f4bf8d; }

.tvBox__top:after { content: ""; position: absolute; top: -54px; left: 10px; width: 3px; background: #d9a16e; height: 159px; -webkit-transform: translateY(54px); transform: translateY(54px); }

.tvBox:before { content: ""; position: absolute; top: 1px; left: 8px; width: 30px; background: #726760; height: 160px; -webkit-transform: rotateY(90deg) translateX(-55px); transform: rotateY(90deg) translateX(-55px); }

.tvBox:after { content: ""; position: absolute; top: 145px; left: 0px; width: 23px; background: #625952; height: 30px; -webkit-transform: rotateX(90deg) translateY(55px); transform: rotateX(90deg) translateY(55px); }

.microwaveBox { top: 250px; left: 60px; -webkit-transform: translateZ(15px); transform: translateZ(15px); }

.microwaveBox__front { width: 30px; height: 60px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(30px); transform: rotateX(-90deg) translateZ(30px); }

.microwaveBox__back { width: 30px; height: 60px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-30px) translateY(-60px); transform: rotateX(-90deg) rotateY(180deg) translateX(-30px) translateY(-60px); }

.microwaveBox__right { width: 90px; height: 60px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(30px) translateX(-90px) translateY(-60px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(30px) translateX(-90px) translateY(-60px); }

.microwaveBox__left { width: 90px; height: 60px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-60px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-60px); }

.microwaveBox__top { width: 30px; height: 90px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(60px); transform: translateZ(60px); }

.microwaveBox__bottom { width: 30px; height: 90px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-30px); transform: rotateY(180deg) translateX(-30px); }

.microwaveBox__front, .microwaveBox__back { background-color: #ccb6c2; }

.microwaveBox__left, .microwaveBox__right { background-color: #e5d6db; }

.microwaveBox__top { background-color: #fffafd; }

.openedBox { top: 190px; left: 160px; -webkit-transform: translateZ(15px); transform: translateZ(15px); }

.openedBox__front { width: 50px; height: 60px; -webkit-transform-origin: bottom left; transform-origin: bottom left; -webkit-transform: rotateX(-90deg) translateZ(90px); transform: rotateX(-90deg) translateZ(90px); }

.openedBox__back { width: 50px; height: 60px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateX(-90deg) rotateY(180deg) translateX(-50px) translateY(-60px); transform: rotateX(-90deg) rotateY(180deg) translateX(-50px) translateY(-60px); }

.openedBox__right { width: 150px; height: 60px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateZ(50px) translateX(-150px) translateY(-60px); transform: rotateY(90deg) rotateZ(-90deg) translateZ(50px) translateX(-150px) translateY(-60px); }

.openedBox__left { width: 150px; height: 60px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(-60px); transform: rotateY(-90deg) rotateZ(90deg) translateY(-60px); }

.openedBox__top { width: 50px; height: 150px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: translateZ(60px); transform: translateZ(60px); }

.openedBox__bottom { width: 50px; height: 150px; -webkit-transform-origin: top left; transform-origin: top left; -webkit-transform: rotateY(180deg) translateX(-50px); transform: rotateY(180deg) translateX(-50px); }

.openedBox__front, .openedBox__back { background-color: #d8c7cf; }

.openedBox__left, .openedBox__right { background-color: #e5d6db; }

.openedBox__top { background-color: #fffafd; }

.openedBox__bottom { background-color: #d2bec5; }

.openedBox .folds__left { background-color: #fff; width: 150px; height: 25px; top: 0; left: 0; -webkit-transform: rotate(90deg) translateZ(60px) rotateX(180deg); transform: rotate(90deg) translateZ(60px) rotateX(180deg); -webkit-transform-origin: top left; transform-origin: top left; -webkit-transition: background-color .4s ease, -webkit-transform .4s ease; transition: background-color .4s ease, -webkit-transform .4s ease; transition: transform .4s ease, background-color .4s ease; transition: transform .4s ease, background-color .4s ease, -webkit-transform .4s ease; }

.openedBox .folds__right { background-color: #fff; width: 150px; height: 25px; top: 0px; left: 50px; -webkit-transform: rotate(90deg) translateZ(60px) rotateX(0deg); transform: rotate(90deg) translateZ(60px) rotateX(0deg); -webkit-transform-origin: top left; transform-origin: top left; -webkit-transition: background-color .4s ease, -webkit-transform .4s ease; transition: background-color .4s ease, -webkit-transform .4s ease; transition: transform .4s ease, background-color .4s ease; transition: transform .4s ease, background-color .4s ease, -webkit-transform .4s ease; }

.openedBox .folds__front { background-color: #fff; width: 50px; height: 36px; top: 150px; left: 0; -webkit-transform: translateZ(60px) rotateX(180deg); transform: translateZ(60px) rotateX(180deg); -webkit-transform-origin: top left; transform-origin: top left; -webkit-transition: background-color .4s ease, -webkit-transform .4s ease; transition: background-color .4s ease, -webkit-transform .4s ease; transition: transform .4s ease, background-color .4s ease; transition: transform .4s ease, background-color .4s ease, -webkit-transform .4s ease; -webkit-transition-delay: .4s; transition-delay: .4s; }

.openedBox .folds__back { background-color: #fff; width: 50px; height: 20px; top: 0px; left: 0; -webkit-transform: translateZ(60px) rotateX(0deg); transform: translateZ(60px) rotateX(0deg); -webkit-transform-origin: top left; transform-origin: top left; -webkit-transition: background-color .4s ease, -webkit-transform .4s ease; transition: background-color .4s ease, -webkit-transform .4s ease; transition: transform .4s ease, background-color .4s ease; transition: transform .4s ease, background-color .4s ease, -webkit-transform .4s ease; -webkit-transition-delay: .4s; transition-delay: .4s; }

.openedBox .folds.unfolded .folds__left { -webkit-transform: rotate(90deg) translateZ(60px) rotateX(35deg); transform: rotate(90deg) translateZ(60px) rotateX(35deg); background-color: #f7f2f6; }

.openedBox .folds.unfolded .folds__right { -webkit-transform: rotate(90deg) translateZ(60px) rotateX(130deg); transform: rotate(90deg) translateZ(60px) rotateX(130deg); }

.openedBox .folds.unfolded .folds__front { -webkit-transform: translateZ(60px) rotateX(20deg); transform: translateZ(60px) rotateX(20deg); }

.openedBox .folds.unfolded .folds__back { -webkit-transform: translateZ(60px) rotateX(120deg); transform: translateZ(60px) rotateX(120deg); background-color: #f7f2f6; }

/** /******************************** */
.left-wall { -webkit-transition: -webkit-transform .4s ease-out; transition: -webkit-transform .4s ease-out; transition: transform .4s ease-out; transition: transform .4s ease-out, -webkit-transform .4s ease-out; -webkit-transform: translateZ(10px) translateY(2000px); transform: translateZ(10px) translateY(2000px); -webkit-transition-delay: .3s; transition-delay: .3s; }

.right-wall { -webkit-transition: -webkit-transform .4s ease-out; transition: -webkit-transform .4s ease-out; transition: transform .4s ease-out; transition: transform .4s ease-out, -webkit-transform .4s ease-out; -webkit-transform: rotateZ(90deg) translateZ(10px) translateY(-2000px); transform: rotateZ(90deg) translateZ(10px) translateY(-2000px); }

.floor { -webkit-transition: -webkit-transform .4s ease-out; transition: -webkit-transform .4s ease-out; transition: transform .4s ease-out; transition: transform .4s ease-out, -webkit-transform .4s ease-out; -webkit-transform: translateZ(-2000px); transform: translateZ(-2000px); -webkit-transition-delay: .3s; transition-delay: .3s; }

.board { -webkit-transition: -webkit-transform .2s ease-out; transition: -webkit-transform .2s ease-out; transition: transform .2s ease-out; transition: transform .2s ease-out, -webkit-transform .2s ease-out; -webkit-transform: translateZ(2000px); transform: translateZ(2000px); }

#box1.active .board { -webkit-transform: translateZ(10px); transform: translateZ(10px); }

#box1.active .left-wall { -webkit-transform: translateZ(10px) translateY(0); transform: translateZ(10px) translateY(0); }

#box1.active .right-wall { -webkit-transform: rotateZ(90deg) translateZ(10px) translateY(0); transform: rotateZ(90deg) translateZ(10px) translateY(0); }

#box1.active .floor { -webkit-transform: translateZ(0); transform: translateZ(0); }
/*# sourceMappingURL=styles.css.map */